body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #eff1f3, rgb(255, 255, 255));
}
.App {
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}

.App-black {
  background-color: #0a1324;
  height: 5280px;
}

.theme-switcher {
  margin-left: 20px;
  cursor: pointer;
  height: 25px;
}
