body {
  margin: 0;
  padding: 0;
  background-color: #eff1f3;
}
.App {
  background-repeat: no-repeat;
  width: 100%;
}

.App-black {
  background-color: #0a1324;
  height: 5280px;
}

.theme-switcher {
  margin-left: 20px;
  cursor: pointer;
  height: 25px;
  /* width: 20px; */
}
